body {
    width: 1200px;
    margin: 0 auto;
<<<<<<< HEAD
=======
}
.btnbtn{
    width: 200px;
    background: transparent;
    border: 0.5px solid rgba(136, 80, 80, 0.1);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    font-size: 120%;
    font-weight: bold;
>>>>>>> sakusaku
}